html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
}

body {
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin: 0;
  vertical-align: middle;
}

div {
  display: inline-block;
}

h2 {
  display: inline-block;
  line-height: 1.5;
  padding: 0.4em 0.75em 0.5em;
  margin: 0;
}

p {
  display: inline-block;
  max-width: 25em;
  padding: 0.4em 0.75em 0.5em;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1rem;
  border-top: #333 solid;
  border-bottom: #333 solid;
  border-right: #333 solid;
  border-left: #333 solid;
  border-radius: 4px;
  padding:0.4em 0.75em 0.5em;
}
