html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}

p {
  display: inline-block;
  max-width: 25em;
  padding: .4em .75em .5em;
}

div h2 p {
  display: inline;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1rem;
  border: 3px solid #333;
  border-radius: 10px;
  padding: .75em;
}

section {
  width: 100%;
}

.box {
  max-width: 25em;
  display: inline-block;
  padding: 2em 1em;
}
