html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  text-align: left;
  margin: 1.5rem;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  line-height: 1.5;
}

p {
  display: inline-block;
  line-height: 1.5;
  max-width: 25em;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 2em;
  padding: 1em;
}
