html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  text-align: left;
}

h2 {
  display: inline-block;
}

p {
  display: inline-block;
}

nav {
  text-align: center;
}
