html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  text-align: left;
  margin: 1.5rem;
}

h2 {
  display: inline-block;
  line-height: 1.5;
}

p {
  display: inline-block;
}

.btn {
  text-align: center;
}
